= form_for [@railscast, note], url: notes_path(id: @railscast.id, cast_id: @railscast.cast.id), method: :post do |f|
  =f.text_area :content, rows: 4, class: "form-control"
  %input(type="submit" value="Submit" class="btn btn-success")
  
  